.categoryindex-all {
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.categoryindex-cat {
    height: 18vmin;
    width: 18vmin;
    background-color: #FFFFFF;
    display: inline-block;  
    text-align: center;
    color: #6B2B44;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 3px solid #6B2B44;
}

.categoryindex-cat-emoji {
    margin-top: 3vmin;
    font-size: 3.0em;
    cursor: default;
}

.categoryindex-cat-title {
    margin-top: -0.75vmin;
    font-size: 0.8em;
    cursor: default;
}

.categoryindex-cat-opts {
    font-size: 0.3em;
}

.categoryindex a:link {
    color: #6B2B44;
    text-decoration: none;
}

.categoryindex a:visited {
    color: #6B2B44;
    text-decoration: none;
}

.categoryindex a:hover {
    color: #6B2B44;
    text-decoration: none;
    text-shadow: 2px 2px 5px #efab9d;
    font-weight: 800;
}